{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--css files -->
    {% include "partials/_css.html" %}

    {% block extralinks %} {% endblock extralinks %}   <!-- This will help add extra css links needed for a specific page -->

    <title>Site Name{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <!--Top bar -->
    {% include "partials/_topbar.html" %}

    <!-- Navbar -->
    {% include "partials/_navbar.html" %}

    <!-- Main Content -->
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    {% include "partials/_footer.html" %}

    <!--javascripts files -->
    {% include "partials/_javascripts.html" %}
  </body>
</html>
